nav: .content: .body
  //- .search
    input(type="text", placeholder="Search Events")
  .right
    a.search(href="#"): span #{language.elm['Search Events']}
    a.favs(href="#favorites"): span #{language.elm['Favorites']}
    a.cart(href="#cart"): span #{language.elm['Cart']}
    a.menu(href="#"): span #{language.elm['Menu']}
  a.logo(href="#"): img(src="/img/logo.png")
