nav: .content: .body
  //- .search
    input(type="text", placeholder="Search Events")
  .right
    a.search(href="#"): span #{language.elm[15]}
    a.favs(href="#favorites"): span #{language.elm[14]}
    a.cart(href="#cart"): span #{language.elm[30]}
    a.menu(href="#"): span #{language.elm[31]}
  a.logo(href="#"): img(src="/img/logo.png")
