nav: .content: .body
  //- .search
    input(type="text", placeholder="Search Events")
  .right
    a.search(href="#"): span Search Events
    a.favs(href="#favorites"): span Favorites
    a.cart(href="#cart"): span Cart
    a.menu(href="#"): span Menu
  a.logo(href="#"): img(src="/img/logo.png")
