.page.events.complete.reloading.inactive: .page-scroller: .page-scroll
  .page-content
    .content 
      .header
        .filters: .inner
          a.showcased(href="#", data-filter="showcased") Showcased<i> Events</i>
          a.current(href="#", data-filter="current") Current
          a.upcoming(href="#", data-filter="upcoming") Upcoming
          a.all.active(href="#", data-filter="all") All<i class="all"> Events</i>
        .sorting: .inner
          span Sort events by:
          a.name(href="#", data-sort="name") <i>Event </i>Name
          a.date.active(href="#", data-sort="date") <i>Event </i>Date
          a.type(href="#", data-sort="type") <i>Event </i>Type
        .clear
        .label
          .icon
          .loader.grey-bg
      .events-list
      .load-more
        .label Load More Events
        .loader
        
  .page-footer
  //- include ../footer.jade
  
