doctype html
html(lang='en', class="light-mode")
  head
    title Instaproofs Webstore
    
    meta(charset='utf-8')
    meta(name='viewport', 
         content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
      
    link(rel='apple-touch-icon', href='http://media.instaproofs.com/favicon.ico')
    link(rel='shortcut icon', href='http://media.instaproofs.com/favicon.ico')
    link(rel='icon', href='http://media.instaproofs.com/favicon.ico')
      
    link(rel='stylesheet', href='css/index.css')
      
    script.
      window.SITE_URL = 'http://demo.instaproofs.com';
      if (window.localStorage && window.localStorage.appUrl) {
        window.SITE_URL = window.localStorage.appUrl;
      }
      
      var aosp = window.navigator.userAgent.match(/Android.*AppleWebKit\/([\d.]+)/); 
      window.isAOSP = aosp && aosp[1] < 537;
      
      function ignoreBrowserWarning() {
        document.getElementById('old-browser').style.display = 'none';
        if (window.localStorage) window.localStorage.ignoreBrowserWarning = 1;
        return false;
      }
      
    //- <script src="//use.typekit.net/cdw2kfe.js"></script>
    //- <script>try{Typekit.load();}catch(e){}</script>
      
    <!--[if lt IE 10]>
    <script>window.ie9 = true;</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ie9.css">
    <![endif]-->
    
  body
    include ./node_modules/app/body-contents.jade
    include ./node_modules/app/old-browser.jade
    
    script.
      if (window.isAOSP) {
        if (!window.localStorage || 
            !window.localStorage.ignoreBrowserWarning) {
          document.getElementById('old-browser').style.display = 'block';
        }
      }
      
      var skipSplash = window.localStorage && localStorage.skipSplash === '1';
      //- var paypalConfirm = 
      //-   document.location.hash.indexOf('paypal_confirmation') > -1;
      if (!skipSplash) {
        //- if (!paypalConfirm) document.documentElement.className = 'locked';
        var hash = document.location.hash.replace(/^#/, '');
        var slashEl = document.getElementById('splash');
        var image = document.getElementById('splash-image');
        var m = hash.match(/^events\/(\d+)/i);
        var path;
        //- var width = screen.width;
        //- var height = screen.height;
        var width = document.documentElement.clientWidth;
        var height = document.documentElement.clientHeight;
        height -= width <= 700 || height <= 700 ? 50 : 100;
        if (m) {
          //- document.getElementById('splash').classList.add('event');
          slashEl.className += ' event';
          var i = ((+m[1] - 1) % 17);
          path = 'https://secure.instaproofs.com/api/rest2/img_ob.php?'+
              'eid='+ m[1] +
              '&w='+ width +'&h='+ height +'&fill=1';
          image.style.backgroundImage = 'url('+ path +')';
        }
        else {
          path = 'https://secure.instaproofs.com/api/rest2/img_store.php?'+
              'store='+ window.SITE_URL +
              //- 'store='+ 'http://demotest.instaproofs.com' +
              '&w='+ width +'&h='+ height +'&fill=1';
          image.style.backgroundImage = 'url('+ path +')';
          //- slashEl.className += ' no-splash-image';
        }
        
        var head = document.querySelector('#splash .head');
        var logoUrl = "https://secure.instaproofs.com/api/rest2/img_store.php"+
                      "?store="+ window.SITE_URL +
                      //- "?store=http://demotest.instaproofs.com"+
                      "&logo=1";
        head.style.backgroundImage = 'url('+ logoUrl +')';
        //- document.getElementById('splash').style.display = 'block';  
      }
        
      
    script(src='js/app.js')
