doctype html
html(lang='en', class="light-mode")
  head
    title Instaproofs Webstore
    
    meta(charset='utf-8')
    meta(name='viewport', 
         content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
      
    link(rel='apple-touch-icon', href='http://media.instaproofs.com/favicon.ico')
    link(rel='shortcut icon', href='http://media.instaproofs.com/favicon.ico')
    link(rel='icon', href='http://media.instaproofs.com/favicon.ico')
      
    link(rel='stylesheet', href='css/index.css')
      
    <script>window.SITE_URL = 'http://demo.instaproofs.com';</script>
      
    //- <script src="//use.typekit.net/cdw2kfe.js"></script>
    //- <script>try{Typekit.load();}catch(e){}</script>
      
    <!--[if lt IE 10]>
    <script>window.ie9 = true;</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ie9.css">
    <![endif]-->
    
  body
    include ./node_modules/app/body-contents.jade
    
    script.
      if (window.localStorage) {
        if (localStorage.skipSplash !== '1') {
          var imgList = [1,14,19,2,3,4,5,6,15,7,16,8,9,10,17,18,12];
          document.documentElement.className = 'locked';
          var hash = document.location.hash.replace(/^#/, '');
          var slashEl = document.getElementById('splash');
          var image = document.getElementById('splash-image');
          var m = hash.match(/^events\/(\d+)/i);
          var path;
          //- var width = screen.width;
          //- var height = screen.height;
          var width = document.documentElement.clientWidth;
          var height = document.documentElement.clientHeight;
          if (m) {
            //- document.getElementById('splash').classList.add('event');
            slashEl.className += ' event';
            var i = ((+m[1] - 1) % 17);
            path = 'http://www.instaproofs.com/api/rest2/img.php?'+
                'eid='+ m[1] +
                '&w='+ width +'&h='+ height +'&fill=1';
            image.style.backgroundImage = 'url('+ path +')';
          }
          else {
            slashEl.className += ' no-splash-image';
            //- path = '/img/splash/global.jpg';
            //- path += 'global.jpg';
          }
          //- document.getElementById('splash').style.display = 'block';  
        }
      }
        
      
    script(src='js/app.js')
