- var photographer = require('app').photographer;
.misc-popup.order-status
  .bg
  .box
    .scroller
      .misc-content
        h1!= lz('Check Order Status')
        form.order-status-form
          input.name(type="text", name="name", placeholder="Billing last name...")
          input.id(type="text", name="id", placeholder="Order ID or confirmation #...")
        .order-details
    .foot
      .button.cancel.large!= lz('Close')
      .button.save.large.highlighted.with-loader
        != lz('Check Status')
        .loader.small.white
