- var ua = require('app/utils/ua');
- var classes = [];
- if (model.options) classes.push('no-qty');
.purchase-addon(class=classes)
  .main
    if model.options.length > 1
      .expand
      .name= model.selected_name
    else
      .checkbox
      .name= model.options.length ? model.options.at(0).name : model.name
    .price.single= model.display_price
  if model.description
    .info
