.buy-form
  .options-wrapper
    .scroller
      .options
  .summary
    .total
      .make-default 
        .checkbox 
        != lz('Save this as my default set')
      div!= lz('Total:') +' '
      .total-price
    .buttons
      //- .left-buttons
      .button.cancel!= lz('Cancel')
      .right-buttons
        .button.remove!= lz('Remove From Cart')
        .button.save!= lz('Add To Cart')
