.buy-form
  .options-wrapper
    .scroller
      .options
  .summary
    .total
      .make-default 
        .checkbox 
        | Save this as my default set
      div Total: 
      .total-price
    .buttons
      //- .left-buttons
      .button.cancel Cancel
      .right-buttons
        .button.remove Remove From Cart
        .button.save Add To Cart
