nav: .content: .body
  //- .search
    input(type="text", placeholder="Search Events")
  .right
    a.search(href="#events")!= lz('Search Events')
    a.favs(href="#favorites")!= lz('Favorites')
    a.cart(href="#cart")!= lz('Cart')
    a.menu(href="#events")!= lz('Menu')
  a.logo(href="javascript: void 0"): img(src="/img/logo.png")
