- var config = require('app').config;
.content: .body
  .contents
  //- a.logo(href="#"): img(src="/img/logo.png")
  //- a.logo(href="#"): img(src="http://images9.instaproofs.com/8/logo/logo.png")
  a.logo(href= config.logo_link): img(src= config.logo_url)
  .search-bar
    input(type="text", placeholder="Search Events...")
    .cancel
    .loader.white.small
