- var url = 'http://' + location.host + '/' + parent.model.app_url;
- var facebookHref = 'https://www.facebook.com/sharer/sharer.php?u='+url;
- var twitterHref = 'https://twitter.com/home?status='+url;
- var linkedinHref = 'https://www.linkedin.com/shareArticle?mini=true&url='+url+'&title=&summary=&source=';
.page-share
  .social
    a.facebook(href=facebookHref, data-hook='facebook', target="_blank")
    a.twitter(href=twitterHref, data-hook='twitter', target="_blank")
    a.linkedin(href=linkedinHref, data-hook='linkedin', target="_blank")
    a.instagram(href="http://www.instagram.com", data-hook='instagram', target="_blank")