- var url = 'http://' + location.host + '/' + model.app_url;
- var facebookHref = 'https://www.facebook.com/sharer/sharer.php?u='+url;
- var twitterHref = 'https://twitter.com/home?status='+url;
- var linkedinHref = 'https://www.linkedin.com/shareArticle?mini=true&url='+url+'&title=&summary=&source=';
.grid-photo
  .image
    //- img(src= model.thumb_url)
  //- .image(style="background-image:url("+ model.thumb_url +")")
  .fill.borders
  .overlay
    a.view-large(href= model.app_url)
      span!= lz('View Larger Image')
    .icons
      a.icon.cart(href= model.buy_url): .tip!= lz('Buy')
      //- .icon.cart: .tip!= lz('Buy More')
      .icon.fav: .tip!= lz('To Favorites')
      //- .icon.fav: .tip!= lz('Unfavorite')
      if model.download
        a.icon.download(href= model.url, target="_blank", bypass)
          .tip!= lz('Download')
      //- .icon.hide: .tip!= lz('Hide Image')
      .icon.share: .tip!= lz('Share')
  //- .image