- var event = model.collection.parent;
//- - var imageURL = "/img/pics/thumbs/" + event.img;
- var imageURL = model.thumb_url;

- var nl = model.name.length;
- var titleClass = nl >= 25 ? 'long-'+ Math.min(10, Math.floor((nl-25) / 10)) : '';
- var name = event.categories.length

a.flexgrid-item(href= "#events/" + event.id +'/'+ model.id)
  .bg(style="background-image:url("+ imageURL +");")
  .border
  .spacer
  .info
    if event.categories.length < 2
      h3(class= titleClass)!= lz('%d Photos', model.img_count)
    else
      h3(class= titleClass)= model.name
      h4!= lz('%d Photos', model.img_count)
