- var app = require('app');
- var nl = model.name.length;
- var titleClass = nl >= 35 ? 'long-'+ Math.min(10, Math.floor((nl-25) / 10)) : '';
.lightbox-photo
  .images
    .img
      .loader.white
      if app.loadedImages[model.thumb_url]
        .thumb(style="background-image:url("+ model.thumb_url +")")
      //- .full-img(style="background-image:url("+ model.url +")")
      img(src= model.img_url)
      .borders
    if model.name
      .title(class= titleClass): .text= model.name 
  .actions
    .action.cart: .tip= language.elm['Buy Image']
    .action.fav: .tip= language.elm['Add To Favorites']
    if model.download_url
      a.action.download(href= model.download_url, target="_blank", bypass)
        .tip= language.elm['Download']
    .action.share: .tip= language.elm['Share']
    .action.variants: .tip Variants
