- var ua = require('app/utils/ua');
- var classes = [];
- if (model.no_qty) classes.push('no-qty');
.purchase-option(class=classes)
  .head
    .name
      = model.display_name
      if model.description
        .info
    .price.single= model.display_price
    if !model.no_qty
      .qty
        //- input(type= ua.mobile ? "number" : "text", name="qty", value="0")
        input(type="number", name="qty", value="0")
        .minus
        .plus
    else
      .checkbox
    .price.final= model.formatMoney(0)
  .addons
