- var event = model.collection.parent;
//- - var imageURL = "/img/pics/thumbs/" + event.img;
- var imageURL = model.thumb_url;

- var nl = model.name.length;
- var titleClass = nl >= 25 ? 'long-'+ Math.min(10, Math.floor((nl-25) / 10)) : '';

a.event-item(href= "#events/" + event.id +'/'+ model.id)
  .bg(style="background-image:url("+ imageURL +");")
  .spacer
  .info
    
    h3(class= titleClass)= model.locked ? 'Private Event' : model.name
    //- .date= model.date.format("MMMM Do, YYYY")
    .date= model.img_count +' Images'
