- var classes = [], cats = model.categories, products = model.products;
- if (model.showcase) classes.push('showcased');
- if (model.locked) classes.push('locked');
  
- var imageURL = model.locked ? model.thumb_blur_url : model.thumb_url;

- var nl = model.name.length; // progressively shrink long titles
- var titleClass = nl >= 25 ? 'long-'+ Math.min(10, Math.floor((nl-25) / 10)) : '';

- var href = "#events/"+ model.id;
- if (cats.length === 1 && !products.length) href += '/'+ cats.at(0).id;

a.flexgrid-item.event-item(class= classes, href= href)
  .bg(style="background-image:url("+ imageURL +");")
  .spacer
  .info
    h3(class= titleClass)= model.name
    h4!= lz('LL', model.date)
    h5= model.type
